body{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#frame{
    position: fixed;
    height: 80vh;
    width: 23.9vh;
    z-index: 2;
}

#frame_bak{
    position: fixed;
    height: 80vh;
    z-index: 0;
}

#float_cv{
    position: fixed;
    /* background-image: linear-gradient(#ffffff,#006eff); */
    height: 80vh;
    width: 23.9vh;
    z-index: 3;
    /* border: 1px solid black; */
}

#process_cv{
    position: fixed;
    height: 73vh;
    margin-left: 7.5vh;
    width: 2vh;
    z-index: 4;
}